@using Microsoft.AspNetCore.Components.Web
@namespace DFrame.Controller.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />
        <link href="DFrame.Controller.styles.css" rel="stylesheet" />*@

    @*Using latest tailwind?*@
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
    </script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    @*DaisyUI*@
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/full.css" rel="stylesheet" type="text/css" />

    
    <link href="css/site.css" rel="stylesheet" type="text/css" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body data-theme="dark" class="bg-base-100">
    @RenderBody()

    @*    <div id="blazor-error-ui">
        <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
        </div>*@

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
