@inherits LayoutComponentBase

<PageTitle>DFrame Controller</PageTitle>

<div class="page flex-grow overflow-y-auto">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
