@inherits LayoutComponentBase

@inject DFrameControllerOptions options
<PageTitle>@options.Title</PageTitle>

<div class="page flex-grow overflow-y-auto">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
