@inherits LayoutComponentBase

<PageTitle>DFrame Controller</PageTitle>

<div class="page flex-grow overflow-y-auto">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="footer bg-neutral">
    <div class="w-full stats bg-neutral">
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">COUNT SUM</div> 
            <div class="stat-value">1000</div> 
            <div class="stat-desc">description</div>
        </div>
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">ERROR SUM</div> 
            <div class="stat-value">100</div> 
            <div class="stat-desc">description</div>
        </div>
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">RPS SUM</div> 
            <div class="stat-value">1000</div> 
            <div class="stat-desc">description</div>
        </div>
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">RUNNING TIME</div> 
            <div class="stat-value">22:22:22</div> 
            <div class="stat-desc">description</div>
        </div>
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">START TIME</div> 
            <div class="stat-value">12:12:12</div> 
            <div class="stat-desc">description</div>
        </div>
        <div class="stat place-items-center place-content-center bg-neutral">
            <div class="stat-title">STATUS</div> 
            <div class="stat-value">COMPLETED</div> 
            <div class="stat-desc">description</div>
        </div>
    </div>
</footer>