@{
    Console.WriteLine("render MyComponent");
}

<h3>MyComponent @Paramon</h3>

@code {

    [Parameter]
    public int Paramon { get; set; }

    protected override bool ShouldRender()
    {

        var foo = base.ShouldRender();
        Console.WriteLine($"Called ShouldRender of MyComponent:{foo}");
        return false;
    }

}
