@page "/Result/{executionId:guid}"

<div class="w-full min-h-screen drawer drawer-end">

    <Drawer />

    <div class="flex flex-col drawer-content">

        <div class="grow overflow-auto">
            <ExecutionResultTable IsRunning=false ShowHeader=true ExecutionResults=results ExecutionSummary=summary />
        </div>

        <div class="grow-0 bg-neutral min-h-[80px]">
            <ResultFooter IsRunning=false ExecutionResults=results ExecutionSummary=summary />
        </div>

    </div>

</div>