@page "/Test"

@{
    Console.WriteLine("render Test");
}

<h3>Test @i</h3>
<MyComponent Paramon=@i></MyComponent>

<div @onclick="Click">click</div>

@code {
    int i;

    void Click()
    {
        i++;
        Console.WriteLine("clicked");
        StateHasChanged();
    }

}
