<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <!-- Add DFrame Pages -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="execute">
                <span class="oi oi-cloud" aria-hidden="true"></span> Execute
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statistic">
                <span class="oi oi-clock" aria-hidden="true"></span> Statistic
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="logging">
                <span class="oi oi-info" aria-hidden="true"></span> Logging
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="failure">
                <span class="oi oi-warning" aria-hidden="true"></span> Failure
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="worker">
                <span class="oi oi-command" aria-hidden="true"></span> Worker
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
