@page "/statistic"

@using DFrame.Web.Data
@using DFrame.Web.Models
@using DFrame.Web.Components
@inject ISummaryService SummaryService
@inject IStatisticsService StatisticsService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Statistic</h1>

<StatisticComponent Statistics="@statistics" Aggregated="@aggregated"></StatisticComponent>

@code {
    private Statistic[] statistics;
    private Statistic aggregated;
    private DFrame.Web.Components.SummaryComponent summaryComponent;
    private Summary summary;

    protected override async Task OnInitializedAsync()
    {
        (statistics, aggregated) = await StatisticsService.GetStatisticsAsync();
        summary = SummaryService.Summary;
    }
}
