<p>maxWorkerPerProcess</p>
<input @bind-value="RampupData.MaxWorkloadPerWorker" placeholder="20" type="number">
<br />

<p>workerSpawnCount</p>
<input @bind-value="RampupData.WorkloadSpawnCount" placeholder="500" type="number">
<br />

<p>workerSpawnSecond</p>
<input @bind-value="RampupData.WorkloadSpawnSecond" placeholder="500" type="number">
<br />

@code {
    [Parameter] public ExecuteData.RampupData RampupData { get; set; }
}
