@page "/logging"

@using DFrame.Web.Data
@using DFrame.Web.Models
@using DFrame.Web.Components
@inject ISummaryService SummaryService
@inject ILoggingService LoggingService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Logging</h1>

<LoggingComponent Logs="@logs" OnClear="@Clear" OnRefresh="@Refresh"></LoggingComponent>

@code {
    private LogMessage[] logs;
    private Summary summary;

    protected override async Task OnInitializedAsync()
    {
        logs = LoggingService.GetLogs();
        summary = SummaryService.Summary;
    }

    private void Refresh()
    {
        logs = LoggingService.GetLogs();
        StateHasChanged();
    }
    private void Clear()
    {
        LoggingService.Clear();
        Refresh();
    }
}
