<div>
    @if (Logs == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>TimeStamp</th>
                    <th>Method</th>
                    <th>Path</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Logs)
                {
                    <tr>
                        <td>@log.TimeStamp</td>
                        <td>@log.Method</td>
                        <td>@log.Path</td>
                        <td>@log.Message</td>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn btn-primary" @onclick="Refresh">Refresh</button>
        <button class="btn btn-danger" @onclick="Clear">Clear</button>
    }
</div>

@code {
    [Parameter] public FailureMessage[] Logs { get; set; }
    [Parameter] public Action OnRefresh { get; set; }
    [Parameter] public Action OnClear { get; set; }

    private void Refresh()
    {
        OnRefresh?.Invoke();
    }

    private void Clear()
    {
        OnClear?.Invoke();
    }
}
