@page "/failure"

@inject ISummaryService SummaryService
@inject ILoggingService LoggingService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Failure</h1>

<FailureComponent Logs="@logs" OnClear="@Clear" OnRefresh="@Refresh"></FailureComponent>

@code {
    private FailureMessage[] logs;
    private Summary summary;

    protected override async Task OnInitializedAsync()
    {
        logs = LoggingService.GetExceptionLogs();
        summary = SummaryService.Summary;
    }

    private void Refresh()
    {
        logs = LoggingService.GetExceptionLogs();
        StateHasChanged();
    }
    private void Clear()
    {
        LoggingService.Clear();
        Refresh();
    }
}
