@*add DFrame page*@
@page "/statistic"

@inject ISummaryService SummaryService
@inject IStatisticsService StatisticsService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Statistic</h1>

<StatisticComponent Statistics="@statistics" Aggregated="@aggregated"></StatisticComponent>

@code {
    private Statistic[] statistics;
    private Statistic aggregated;
    private Summary summary;

    protected override async Task OnInitializedAsync()
    {
        (statistics, aggregated) = await StatisticsService.GetStatisticsAsync();
        summary = SummaryService.Summary;
    }
}
