@*add DFrame page*@
@page "/statistic"

@inject ISummaryService SummaryService
@inject IStatisticsService<AbStatistic> StatisticsService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Statistic</h1>

<AbStatisticComponent Statistic="@statistic" OnRefresh="@Refresh"></AbStatisticComponent>

@code {
    private AbStatistic statistic;
    private Summary summary;

    protected override async Task OnInitializedAsync()
    {
        (_, statistic) = await StatisticsService.GetStatisticsAsync();
        summary = SummaryService.Summary;
    }

    private async Task Refresh()
    {
        (_, statistic) = await StatisticsService.GetStatisticsAsync();
        StateHasChanged();
    }
}
